
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var orderDetails = (Admin.Models.OrderDetails)ViewData["OrderDetails"];
    var eventOrderDetails = (List<Admin.Models.EventOrderDetails>)orderDetails.eventOrderDetails;
    var orderSummary = (Admin.Models.OrderSummary)orderDetails.orderSummary;
    // var eventId = eventOrderDetails[0].EventID;
    if (TempData["Message"] != null)
    {
        @Html.Raw(TempData["Message"]);
    }
    var orderRequest = (Admin.Models.OrderRequest)ViewData["OrderRequest"];
    var eventId = orderRequest.EventId;
    var rowsPerPage = (List<int>)TempData["rowsPerPage"];
    var reportTypes = (List<string>)TempData["ReportTypes"];
    var orderBy = (List<string>)TempData["orderBy"];
    TempData.Keep("rowsPerPage");
    TempData.Keep("orderBy");
    TempData.Keep("ReportTypes");
}

<div class="row row-page-header">
    <div class="col-sm-12">
        <div class="MainHeader">Orders for @eventOrderDetails[0].EventName</div>
        <div class="mb-3">
            <span class="badge">@Convert.ToDateTime(eventOrderDetails[0].EventDate).ToLongDateString()</span>
            @*<span>@Convert.ToDateTime(eventOrderDetails[0].EventDate).ToShortDateString();</span>*@
        </div>
    </div>
    <div class="col-sm-12">
        <div class="underline"></div>
    </div>
</div>

<div class="row row-cards mb-3">
    <div class="col-sm-4 cardContainer orderCard">
        <div class="r-card-content d-flex">
            <div class="icon">
                <img src="/App_Images/cart.svg" class="img-responsive" />
            </div>
            <div class="nos">
                <h1>@orderSummary.OrderCount</h1>
                <p>Orders</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 cardContainer ticketCard">
        <div class="r-card-content d-flex">
            <div class="icon">
                <img src="/App_Images/basket.svg" class="img-responsive" />
            </div>
            <div class="nos">
                <h1>@orderSummary.TicketCount</h1>
                <p>Tickets</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 cardContainer amountCard">
        <div class="r-card-content d-flex">
            <div class="icon">
                <img src="/App_Images/dollar.svg" class="img-responsive" />
            </div>
            <div class="nos">
                <h1>$@orderSummary.TotalAmount</h1>
                <p>Amount</p>
            </div>
        </div>
    </div>
</div>

<div class="row row-filter mb-3">
    <div class="col-sm-12">
        <div class="MainHeader">Reports</div>
    </div>
    <div class="col-sm-12">
        <div class="underline"></div>
    </div>
    <div class="col-sm-3 d-flex">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100"
                    type="button" id="reportDD1"
                    data-toggle="dropdown" aria-expanded="false">
                @orderRequest.orderBy &nbsp;<i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="reportDD1">
                @foreach (var item in orderBy)
                {
                    <li>
                        @Html.ActionLink(item, "SearchEvents", "Report",
                    new {  EventId = eventId,
                        pageNum = orderRequest.pageNum,
                        rowsPerPage = orderRequest.rowsPerPage, //Convert.ToInt32(item.ToString()),
                        orderBy = item
                    }
                     ,null
                     )
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-sm-5 d-flex fh-center">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100"
                    type="button" id="reportDD1"
                    data-toggle="dropdown" aria-expanded="false">
                Report &nbsp;<i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="reportDD1">
                @foreach (var item in reportTypes)
                {
                    <li>
                        @Html.ActionLink(item + " Report", "GenerateReport", "Report",
                        new {  reportType = item.ToString(), EventId = eventId }, null)
                    </li>
                }
            </ul>
        </div>
        @*<button class="btn btn-info ml-3">
                Preparing to download
            </button>*@
    </div>
    <div class="col-sm-4 d-flex fv-center justify-content-end">
        @if (orderRequest.pageNum >= 2)
        {
            <div class="btn btn-sm pgn-btn">
                Prev Page
                @Html.ActionLink("-1", "SearchEvents", "Report",
                     new
                     {
                         EventId = eventId,
                         pageNum = orderRequest.pageNum - 1,
                         rowsPerPage = orderRequest.rowsPerPage,
                         orderBy = orderRequest.orderBy
                     }
                         , null
                         )
            </div>
        }
        <div class="dropdown mx-3">
            <button class="btn btn-secondary dropdown-toggle w-100"
                    type="button" id="reportDD1"
                    data-toggle="dropdown" aria-expanded="false">
                @orderRequest.rowsPerPage &nbsp;<i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="reportDD1">
                @foreach (var item in rowsPerPage)
                {
                    <li>
                        @Html.ActionLink(item.ToString(), "SearchEvents", "Report",
                    new {  EventId = eventId,
                        pageNum = orderRequest.pageNum,
                        rowsPerPage = Convert.ToInt32(item.ToString()),
                        orderBy = orderRequest.orderBy
                    }
                     ,null
                     )
                    </li>
                }
            </ul>
        </div>
        @if (eventOrderDetails.Count > 0)
        {
            <div class="btn btn-sm pgn-btn">
                Next Page
                @Html.ActionLink("+1", "SearchEvents", "Report",
                    new
                    {
                        EventId = eventId,
                        pageNum = orderRequest.pageNum + 1,
                        rowsPerPage = orderRequest.rowsPerPage,
                        orderBy = orderRequest.orderBy
                    }, null)
            </div>
        }
    </div>
    @*<div class="col-sm-12 my-4">
            <div class="d-flex w100 radio-report">
                <div class="text-muted">Report combination of</div>
                <div class="d-flex">
                    <div class="rdio-report">
                        <input id="salesWise" value="salesWise" name="reportCombination" type="radio" class="radio-inline" />
                        <label for="salesWise">Sales Wise Report</label>
                    </div>
                    <div class="rdio-report">
                        <input id="ticketWise" value="ticketWise" name="reportCombination" type="radio" class="radio-inline" />
                        <label for="ticketWise">Ticket Wise Report</label>
                    </div>
                </div>
            </div>
        </div>*@
</div>

<div class="row row-order-table">
    <div class="col-sm-12">
        @if (eventOrderDetails.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer</th>
                            <th>Ticket</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    @foreach (var ev in eventOrderDetails)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    <div class="rt-order-id">
                                        <strong>@ev.OrderID</strong>
                                    </div>
                                </td>
                                <td>
                                    <div class="rt-event-customer">
                                        <div class="cname">@ev.CustomerName</div>
                                        <div class="cemail">@ev.Email</div>
                                        <div class="cphone">@ev.Mobile</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="rt-event-status">
                                        <div class="text-muted">
                                            @{
                                                if (ev.TicketType == "EARLYBIRD")
                                                {
                                                    <span>Early Bird Admission</span>
                                                }
                                                else
                                                {
                                                    <span>General Admission</span>
                                                }
                                            }
                                        </div>
                                        <div class="text-muted">
                                            Ticket Quantity(@ev.Quantity)
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="rt-amount">
                                        <div class="ticketAmount">Ticket Amt: <span>$@ev.AmountPerTicket * @ev.Quantity = $@ev.ActualPrice</span></div>
                                        <div class="discountAmount">Discount Amt: <span>$@ev.DiscountAmount</span></div>
                                        <div class="priceAfterDiscount">Discount Amt: <span>$@ev.PriceAfterDiscount</span></div>
                                        <div class="servicePaid">Processing Fee: <span>$@ev.ProcessingFee</span></div>
                                        <div class="overAll">Over all: <span>$@ev.TicketPrice</span></div>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    }
                    @*<tr>
                            <td colspan="6">
                                <div class="rt-table-footer d-flex">
                                    <div class="noaction">Action: </div>
                                    <div>Edit Name</div>
                                    <div>Add Comments</div>
                                    <div>Notification</div>
                                    <div>Refund</div>
                                    <div>Report Bug</div>
                                </div>
                            </td>
                        </tr>*@

                    @*<tr class="separator-row"></tr>*@
                </table>
            </div>
        }
        else
        {
            <h1 class="noRecordsFound">No more orders to display.</h1>
        }
    </div>

</div>