
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Admin.Models.EventsViewModel>

@{
    var view_image_path = CustomHelper.GetViewImagePath();
    //var venues = (List<Admin.Models.tblVenue>)ViewData["Venues"];
    var events = (List<Admin.Models.EventsViewModel>)TempData["ListEvents"];
    List<Admin.Models.EventsViewModel> searchEvents = new List<Admin.Models.EventsViewModel>();

    if (TempData["Message"] != null)
    {
        @Html.Raw(TempData["Message"]);
    }



    if (TempData["SearchEvents"] != null)
    {
        searchEvents = (List<Admin.Models.EventsViewModel>)TempData["SearchEvents"];
    }

    var eventsAllEvents = events;
    var rowsPerPage = (List<int>)TempData["rowsPerPage"];

    TempData.Keep("ListEvents");
    TempData.Keep("rowsPerPage");
    TempData.Keep("EventRequest");
    var eventsRequest = (Admin.Models.EventRequest)TempData["EventRequest"];
}

<script src="~/App_Scripts/jquery.validate.js"></script>
<script src="~/App_Scripts/ckeditor/ckeditor.js"></script>

<link href="~/App_Theme/datatables-bootstrap.css" rel="stylesheet" />
<script src="~/App_Scripts/datatables.js"></script>

<div class="FormBlock" id="frmSearchEvents">
    <div class="row MainHeader ">
        <div class="col-sm-6">
            Search
        </div>
        <div class="col-sm-6 d-flex ml-auto justify-content-end">
            @*@if (@eventsRequest.pageNum >= 3)
                {
                    <div class="pgn-btn btn btn-sm">
                        <i class="fa fa-angle-left"></i>
                        <i class="fa fa-angle-left"></i>
                        @Html.ActionLink("-2", "SearchEvents", "NewEvents",
                                     new
                                     {
                                         EventId = eventsRequest.EventId,
                                         pageNum = eventsRequest.pageNum - 2,
                                         rowsPerPage = eventsRequest.rowsPerPage
                                     }
                                      , null
                                      )
                    </div>
                }*@
            @if (@eventsRequest.pageNum >= 2)
            {
                <div class="pgn-btn btn btn-sm">
                    <i class="fa fa-angle-left"></i>
                    @Html.ActionLink("-1", "SearchEvents", "NewEvents",
                        new
                        {
                            EventId = eventsRequest.EventId,
                            pageNum = eventsRequest.pageNum - 1,
                            rowsPerPage = eventsRequest.rowsPerPage
                        }
                         , null
                         )
                </div>
            }
            <div class="dropdown">
                Showing
                <button class="btn dropdown-toggle pgn-btn"
                        type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-expanded="false">
                    @eventsRequest.rowsPerPage
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var item in rowsPerPage)
                    {
                        <li>
                            @Html.ActionLink(item.ToString(), "SearchEvents", "NewEvents",
                        new
                             {
                                 EventId = eventsRequest.EventId,
                            pageNum = eventsRequest.pageNum,
                            rowsPerPage = Convert.ToInt32(item.ToString())
                            }
                         , null
                         )
                        </li>
                    }
                </ul>
                Entries
            </div>
            @if (searchEvents.Count > 0)
            {
                <div class="pgn-btn btn btn-sm">
                    <i class="fa fa-angle-right"></i>
                    @Html.ActionLink("+1", "SearchEvents", "NewEvents",
                             new
                             {
                                 EventId = eventsRequest.EventId,
                                 pageNum = eventsRequest.pageNum + 1,
                                 rowsPerPage = eventsRequest.rowsPerPage
                             }
                              , null
                              )
                </div>
            }
            @*<div class="pgn-btn btn btn-sm">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-right"></i>
                    @Html.ActionLink("+2", "SearchEvents", "NewEvents",
                        new
                        {
                            EventId = eventsRequest.EventId,
                            pageNum = eventsRequest.pageNum+2,
                            rowsPerPage = eventsRequest.rowsPerPage
                        }
                            , null
                            )
                </div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle w-100"
                                type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-expanded="false">
                            Select Events &nbsp;<i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                @Html.ActionLink("Select All", "SearchEvents", "NewEvents", new
                                {
                                    EventId = 0,
                                    pageNum = eventsRequest.pageNum,
                                    rowsPerPage = eventsRequest.rowsPerPage
                                }, null)
                            </li>
                            @foreach (var item in events)
                            {
                                <li>
                                    @Html.ActionLink(item.EventName + " - [ " + Convert.ToDateTime(item.EventDate).ToShortDateString() + " ]", "SearchEvents", "NewEvents"
                                    , new
                                    {
                                        EventId = item.EventID,
                                        pageNum = eventsRequest.pageNum,
                                        rowsPerPage = eventsRequest.rowsPerPage
                                    }
                                    , null
                                    )
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="col-md-8"> <input type="text" class="form-control" placeholder="Search Events"> </div>
                <div class="col-md-2"> <button class="btn btn-secondary btn-block w-100">Search Results</button> </div>
            </div>
        </div>
    </div>
</div>

<div class="FormBlock" id="frmAddEvents">
    <div class="row">
        <div class="col-sm-12">
            <div class="MainHeader d-flex">
                Add/Manage Events
                <button id="listEvent" class="button-62 ml-auto" role="button">List Events</button>
            </div>
        </div>
    </div>

    <form id="frmEvent">
        <input type="hidden" class="FormTxtStyle" id="txtEventID" name="txtEventID" value="0" />
        <div class="row-event-details">
            <div class="row">
                <div class="col-sm-12">
                    <div class="MainHeader d-flex">
                        Event Details
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEventName">Event Name</label>
                            <input type="text" class="form-control" id="txtEventName" name="txtEventName" />
                        </div>
                        <div class="FormValidationStyle" id="lblEventName"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEventType">Event Type</label>
                            <input type="text" class="form-control" id="txtEventType" name="txtEventType" />
                        </div>
                        <div class="FormValidationStyle" id="lblEventType"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEventLanguage">Event Language</label>
                            <input type="text" class="form-control" id="txtEventLanguage" name="txtEventLanguage" />
                        </div>
                        <div class="FormValidationStyle" id="lblEventLanguage"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEventPlaytime">Event Playtime</label>
                            <input type="text" class="form-control" id="txtEventPlaytime" name="txtEventPlaytime" />
                        </div>
                        <div class="FormValidationStyle" id="lblEventPlaytime"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="drpBookingType">Booking Type</label>
                            <select class="form-control" id="drpBookingType" name="drpBookingType">
                                <option value="">--Select Booking Type--</option>
                                <option value="TICKETS">Ticket</option>
                                <option value="SEATS">Seats</option>
                            </select>
                        </div>
                        <div class="FormValidationStyle" id="lblEventDurationType"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEventDate">Event Date</label>
                            <input type="date" class="form-control" id="txtEventDate" name="txtEventDate" />
                        </div>
                        <div class="FormValidationStyle" id="lblEventDate"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtTotalTickets">Total Tickets</label>
                            <input oninput="numberOnly(this.id);" type="text" pattern="\d*" maxlength="3" class="form-control" id="txtTotalTickets" name="txtTotalTickets" />
                        </div>
                        <div class="FormValidationStyle" id="lblTotalTickets"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtTicketPrice">Ticket Price</label>
                            <input oninput="numberOnly(this.id);" type="text" pattern="\d*" maxlength="3" class="form-control" id="txtTicketPrice" name="txtTicketPrice" />
                        </div>
                        <div class="FormValidationStyle" id="lblTicketPrice"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtShowTime">Show Time</label>
                            <input type="text" class="form-control" id="txtShowTime" name="txtShowTime" />
                        </div>
                        <div class="FormValidationStyle" id="lblShowTime"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtAgeGroup">For Age Group</label>
                            <input type="text" class="form-control" id="txtAgeGroup" name="txtAgeGroup" />
                        </div>
                        <div class="FormValidationStyle" id="lblLocationTracker"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtProcessingFee">Service Fees</label>
                            <input type="text" class="form-control" id="txtProcessingFee" name="txtProcessingFee" />
                        </div>
                        <div class="FormValidationStyle" id="lblProcessingFee"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="drpEventRecStatus">Status</label>
                            <select class="form-control" id="drpEventRecStatus" name="drpEventRecStatus">
                                <option value="">--Select Status--</option>
                                <option value="a" selected="selected">Active</option>
                                <option value="i">InActive</option>
                            </select>
                        </div>
                        <div class="FormValidationStyle" id="lblEventRecStatus"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-early-bird">
            <div class="row">
                <div class="col-sm-12">
                    <div class="MainHeader d-flex">
                        Early Bird Details
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="drpEarlyBirdTicketType">Type of Early Bird</label>
                            <select class="form-control" id="drpEarlyBirdTicketType" name="drpEarlyBirdTicketType">
                                @*<option id="1" value="-1">--Select early bird type--</option>
                                    <option id="2" value="DATEWISE">Discount till specific date</option>
                                    <option id="3" value="TICKETCOUNT">Discount on total count of tickets</option>
                                    <option id="4" value="NONE" selected>None</option>*@
                            </select>
                        </div>
                        <div class="FormValidationStyle" id="lblEarlyBirdTicketType"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtStartDate">Early Bird Discount Start Date</label>
                            <input type="date" class="form-control" id="txtStartDate" name="txtStartDate" value="0" disabled />
                        </div>
                        <div class="FormValidationStyle" id="lblStartDate"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEndDate">Early Bird Discount End Date</label>
                            <input type="date" class="form-control" id="txtEndDate" name="txtEndDate" value="0" disabled />
                        </div>
                        <div class="FormValidationStyle" id="lblEndDate"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4" style="display:none;">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtPercentEBSeats">Allocate Early Bird Seats Percentile</label>
                            <input value="0" oninput="numberOnly(this.id);" type="text" pattern="\d*" maxlength="2" class="form-control" id="txtPercentEBSeats" name="txtPercentEBSeats" disabled />
                        </div>
                        <div class="FormValidationStyle" id="lblPercentEBSeats"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEBTicketPrice">Early Bird Ticket Price</label>
                            <input oninput="numberOnly(this.id);" type="text" pattern="\d*" maxlength="3" class="form-control" id="txtEBTicketPrice" name="txtEBTicketPrice" value="0" disabled />
                        </div>
                        <div class="FormValidationStyle" id="lblEBTicketPrice"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEBTickets">Count Of Tickets In Early Bird</label>
                            <input oninput="numberOnly(this.id);" type="text" pattern="\d*" maxlength="3" class="form-control" id="txtEBTickets" name="txtEBTickets" value="0" disabled />
                        </div>
                        <div class="FormValidationStyle" id="lbltxtEBTickets"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEBMinTicketAllowed">Early Bird Min Tickets Allowed</label>
                            <input oninput="numberOnly(this.id);" type="text" pattern="\d*" maxlength="2" class="form-control" id="txtEBMinTicketAllowed" name="txtEBMinTicketAllowed" value="0" disabled />
                        </div>
                        <div class="FormValidationStyle" id="lblEBMinTicketAllowed"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEBMaxTicketAllowed">Early Bird Max Tickets Allowed</label>
                            <input oninput="numberOnly(this.id);" type="text" pattern="\d*" maxlength="2" class="form-control" id="txtEBMaxTicketAllowed" name="txtEBMaxTicketAllowed" value="0" disabled />
                        </div>
                        <div class="FormValidationStyle" id="lblEBMaxTicketAllowed"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-banners">
            <div class="row">
                <div class="col-sm-12">
                    <div class="MainHeader d-flex">
                        Event Banners
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtHomeBannerImage">Home Page Banner (1100px X 400px)</label>
                            <input type="file" id="txtHomeBannerImage" name="txtHomeBannerImage" />
                        </div>
                        <div class="FormValidationStyle" id="lblHomeBannerImage"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtMainBannerImage">Event Page Main Banner (1100px X 400px)</label>
                            <input type="file" id="txtMainBannerImage" name="txtMainBannerImage" />
                        </div>
                        <div class="FormValidationStyle" id="lblMainBannerImage"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEventBannerImage">Event Small Banner (260px X 360px)</label>
                            <input type="file" id="txtEventBannerImage" name="txtEventBannerImage" />
                        </div>
                        <div class="FormValidationStyle" id="lblEventBannerImage"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-description">
            <div class="row">
                <div class="col-sm-12">
                    <div class="MainHeader d-flex">
                        Event Description
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEventDesc">Event Description</label>
                            <textarea type="text" class="form-control" id="txtEventDesc" name="txtEventDesc"></textarea>
                        </div>
                        <div class="FormValidationStyle" id="lblEventDesc"></div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-holder">
                            <label for="txtEventTNC">Event TNC</label>
                            <textarea type="text" class="form-control" id="txtEventTNC" name="txtEventTNC"></textarea>
                        </div>
                        <div class="FormValidationStyle" id="lblEventTNC"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex fh-center">
            <div class="col-sm-5">
                <button id="backToList" type="button">
                    Back
                </button>
                <button type="button" onclick="JavaScript: ManageEvent();"
                        class="button-62" id="but_upload">
                    Update Event
                </button>
                <img id="but_loader"
                     src="~/App_Images/loader.gif"
                     style="height:20px!important;width:20px!important;display:none;" />
            </div>
        </div>
    </form>
</div>

<div class="FormBlock" id="frmListEvents">
    <div class="row">
        <div class="col-sm-12">
            <div class="MainHeader d-flex w-100">
                List of Events
                <button id="addEvent" class="button-62 ml-auto" role="button">Add Event</button>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="underline"></div>
        </div>
    </div>

    @if (searchEvents.Count > 0)
    {
        <div class="row">
            @foreach (var item in searchEvents)
            {
                <div class="col-sm-12">
                    <div class="card ev-card">
                        <div class="card-body d-flex">
                            <div class="img-content">
                                <a class="img-card" href="javascript:void(0);">
                                    <img src="@view_image_path/EventBanners/@item.EventBanner" />
                                </a>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Event Name: @item.EventName
                                </h4>
                                <div class="ev-date-time">
                                    <span class="ev-date">
                                        On @item.EventDate.ToShortDateString();
                                        , Starts @item.ShowTime,
                                    </span>
                                    <span class="ev-location-marker">at</span>
                                    <span class="ev-location">@item.VenueName</span>
                                </div>
                                <div class="ev-date-duration">
                                    <span class="ev-start-date">Opening Date:@item.StartDate.ToShortDateString();</span>
                                    <span class="sprtr"> - </span>
                                    <span class="ev-end-date">Closing Date: @item.EndDate.ToShortDateString();</span>
                                    <span class="ev-duration">Duration of the show: ( @item.EventPlaytime ) </span>
                                </div>
                                <div class="ev-date-duration">
                                    <span class="ev-start-date">Event Status: @item.Status</span>
                                    <span class="sprtr"> , </span>
                                    <span class="ev-end-date">Event Type: @item.EventType</span>
                                    <span class="sprtr"> , </span>
                                    <span class="ev-duration">Duration of the show: ( @item.EventPlaytime ) </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="card-read-more no-float d-flex justify-content-center">
                                <a href="JavaScript:;"
                                   onclick="JavaScript:GetEvent(@item.EventID)"
                                   class="btn btn-link">
                                    Edit
                                </a>
                                <a href="/NewEvents/Venue?evtID=@item.EventID">Add Venue</a>
                                <a href="/NewEvents/Artists?eventID=@item.EventID">Add Artist</a>
                                @if (@item.EventStatus == "PAST")
                                {
                                    <a href="/AddPastEvents?eventID=@item.EventID">Add Media</a>
                                }
                                <a href="JavaScript:;"
                                   onclick="JavaScript:DeleteUnorderedSeats(@item.EventID);">
                                    Release Seats
                                </a>
                                @Html.ActionLink("View Orders", "Orders", "Report", new { EventID = item.EventID }, null)
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <h1 class="noRecordsFound">No Events Found to Display</h1>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function showModal(eventId) {
        $('#ModalPopUp').modal('show');
        $("#hdnEventId").val(eventId);
    }
    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^0-9]/gi, "");
    }
    function rowsPerPageSelected(rowsPerPage) {
        var eventsRequest = {
            EventId: '@eventsRequest.EventId',
            pageNum: '@eventsRequest.pageNum',
            rowsPerPage: rowsPerPage,
            };
        alert(eventsRequest.EventId);
        //$("#modalLoader").modal('show');
        //$.ajax({
        //    url: "/NewEvents/SearchEvents",
        //    data: { eventID: id, pageNum = 1, rowsPerPage = rowsPerPage },
        //    type: "POST",
        //    success: function (response) {
        //        $("#modalLoader").modal('show');

        //        showAddEvent("addEvent");
        //    },
        //    error: function () {
        //        $("#modalLoader").modal('hide');
        //    }
        //});
        return false;
    }
    function configureTickets() {
        var eventId = $("#hdnEventId").val();
        // debugger;
        var request = {
            eventId: eventId,
            startDate: $("#txtEventStartDate").val(),
            endDate: $("#txtEventEndDate").val(),
            ticketPercentile: $("#txtTickeSlot").val(),
        }

        $.ajax({
            url: "/NewEvents/Search",
            data: request,
            type: "POST",
            success: function (response) {
                //$("#divLoader").hide();

                //$("#txtEventID").val(response.EventID);
                //$("#txtEventName").val(response.EventName);
                //$("#txtEventType").val(response.EventType);
                //$("#txtEventLanguage").val(response.EventLanguage);
                //$("#txtEventPlaytime").val(response.EventPlayTime);
                //$("#txtEventDate").val(response.EventDate);
                //$("#txtShowTime").val(response.ShowTime);
                //$("#txtProcessingFee").val(response.ProcessingFee);
                //$("#txtLocationTracker").val(response.LocationTracker);
                //$("#drpBookingType").val(response.BookingType);
                //CKEDITOR.instances['txtEventDesc'].setData(response.EventDesc);
                //CKEDITOR.instances['txtEventTNC'].setData(response.EventTNC);

                //showAddEvent("addEvent");
            },
            error: function () {
                //$("#divLoader").hide();
            }
        });
    }

    $(function () {
        CKEDITOR.replace('txtEventDesc');
        CKEDITOR.replace('txtEventTNC');

        $('#datatable').DataTable({
            "order": [[0, "asc"]]
        });
        $.validator.addMethod(
            "percentEBCheck",
            function (value, element) {
                //// debugger;
                var a = parseInt(($("#txtTotalTickets").val() == "") ? 0 : $("#txtTotalTickets").val());
                var b = parseInt(($(element).val() == "") ? 0 : $(element).val());
                if ($("#drpEarlyBirdTicketType").val() === "TICKETCOUNT" && b === 0)
                    return false;
                else
                    return a > b;
            },
            "Early Birds Percent depends on Total Tickets entered"
        );
        $.validator.addMethod(
            "dateEBCheckStart",
            function (value, element) {
                var isValidationPassed = false;
                if ($("#drpEarlyBirdTicketType").val() === "DATEWISE"
                    && $("#txtStartDate").val() === "") {
                    isValidationPassed = false;
                } else {
                    isValidationPassed = true;
                }
                if ($("#drpEarlyBirdTicketType").val() === "DATEWISE") {
                    var startDate = new Date($("#txtStartDate").val());
                    var endDate = new Date($("#txtEndDate").val());
                    isValidationPassed = (startDate > endDate) ? false : true;
                }
                else if ($("#drpEarlyBirdTicketType").val() === "DATEWISE"
                    && $("#txtStartDate").val() !== ""
                    && $("#txtEndDate").val() !== "") {
                    var eventDate = new Date($("#txtEventDate").val());
                    var startDate = new Date($("#txtStartDate").val());
                    var endDate = new Date($("#txtEndDate").val());
                    isValidationPassed = (startDate > eventDate || endDate > eventDate) ? false : true;
                }
                if ($("#drpEarlyBirdTicketType").val() === "TICKETCOUNT") {
                    $("#txtStartDate").val("");
                    $("#txtEndDate").val("");
                    isValidationPassed = true
                }
                return isValidationPassed;
            },
            "Invalid date entered / Date is required / Date is greater than event start date."
        );
        $.validator.addMethod(
            "dateEBCheckEnd",
            function (value, element) {
                var isValidationPassed = false;
                if ($("#drpEarlyBirdTicketType").val() === "DATEWISE"
                    && $("#txtEndDate").val() === "") {
                    isValidationPassed = false;
                } else {
                    isValidationPassed = true;
                }
                if ($("#drpEarlyBirdTicketType").val() === "DATEWISE"
                    && $("#txtStartDate").val() !== ""
                    && $("#txtEndDate").val() !== "") {
                    var startDate = new Date($("#txtStartDate").val());
                    var endDate = new Date($("#txtEndDate").val());
                    isValidationPassed = (startDate > endDate) ? false : true;
                }
                else if ($("#drpEarlyBirdTicketType").val() === "DATEWISE"
                    && $("#txtStartDate").val() !== ""
                    && $("#txtEndDate").val() !== "") {
                    var eventDate = new Date($("#txtEventDate").val());
                    var startDate = new Date($("#txtStartDate").val());
                    var endDate = new Date($("#txtEndDate").val());
                    isValidationPassed = (startDate > eventDate || endDate > eventDate) ? false : true;
                }
                if ($("#drpEarlyBirdTicketType").val() === "TICKETCOUNT") {
                    $("#txtStartDate").val("");
                    $("#txtEndDate").val("");
                    isValidationPassed = true
                }
                return isValidationPassed;
            },
            "Invalid date entered / Date is required / Date is greater than event start date."
        );
        $.validator.addMethod(
            "checkTicketPrice",
            function (value, element) {
                var isValidationPassed = false;
                if ($("#drpBookingType").val() === "TICKETS") {
                    isValidationPassed = ($("#txtTicketPrice").val() === "") ? false : true;
                }
                else return true;

                return isValidationPassed;
            },
            "Ticket price cannot be empty."
        );
        $.validator.addMethod(
            "checkEBTickets",
            function (value, element) {

                var txtEBTickets = parseInt(($("#txtEBTickets").val() == "") ? 0 : $("#txtEBTickets").val());
                var txtTotalTickets = parseInt(($("#txtTotalTickets").val() == "") ? 0 : $("#txtTotalTickets").val());
                var isValidationPassed = false;

                if ($("#drpBookingType").val() === "TICKETS") {
                    if (txtEBTickets === 0) return false;

                    if (txtEBTickets !== 0) {
                        if (txtTotalTickets <= txtEBTickets)
                            isValidationPassed = false;
                        else
                            isValidationPassed = true;
                    }
                }
                else return true;

                return isValidationPassed;
            },
            "EB tickets cannot be empty / EB tickets should be smaller than total ticket"
        );
        $.validator.addMethod(
            "checkEBTicketPrice",
            function (value, element) {

                var txtTicketPrice = parseInt(($("#txtTicketPrice").val() == "") ? 0 : $("#txtTicketPrice").val());
                var txtEBTicketPrice = parseInt(($("#txtEBTicketPrice").val() == "") ? 0 : $("#txtEBTicketPrice").val());
                var isValidationPassed = false;

                if ($("#drpEarlyBirdTicketType").val() !== "-1") {
                    if (txtEBTicketPrice === 0) return false;

                    if (txtTicketPrice !== 0) {
                        if (txtTicketPrice <= txtEBTicketPrice)
                            isValidationPassed = false;
                        else
                            isValidationPassed = true;
                    }
                }
                else return true;

                return isValidationPassed;
            },
            "Early Bird Ticket Price you have entered seems incorrect"
            );
        $.validator.addMethod(
            "checkEBMinTickesAllowed",
            function (value, element) {
                var txtEBMinTicketAllowed = parseInt(($("#txtEBMinTicketAllowed").val() == "") ? 0 : $("#txtEBMinTicketAllowed").val());
                var txtEBMaxTicketAllowed = parseInt(($("#txtEBMaxTicketAllowed").val() == "") ? 0 : $("#txtEBMaxTicketAllowed").val());
                var isValidationPassed = false;

                if ($("#drpEarlyBirdTicketType").val() !== "-1") {
                    if (txtEBMinTicketAllowed === 0) return false;
                    //if (txtEBMaxTicketAllowed === 0) return false;

                    if ($("#txtEBMinTicketAllowed").val() !== ""
                        && $("#txtEBMaxTicketAllowed").val() !== "") {
                        if (txtEBMinTicketAllowed !== 0 && txtEBMaxTicketAllowed !== 0) {
                            if (txtEBMaxTicketAllowed <= txtEBMinTicketAllowed)
                                isValidationPassed = false;
                            else
                                isValidationPassed = true;
                        }
                    } else return true;
                }
                else return true;

                return isValidationPassed;
            },
            "EB minimum tickets allowed is required / EB minimum tickets allowed should be greater than 0"
        );
        $.validator.addMethod(
            "checkEBMaxTickesAllowed",
            function (value, element) {
                var txtEBMinTicketAllowed = parseInt(($("#txtEBMinTicketAllowed").val() == "") ? 0 : $("#txtEBMinTicketAllowed").val());
                var txtEBMaxTicketAllowed = parseInt(($("#txtEBMaxTicketAllowed").val() == "") ? 0 : $("#txtEBMaxTicketAllowed").val());
                var isValidationPassed = false;

                if ($("#drpEarlyBirdTicketType").val() !== "-1") {
                    //if (txtEBMinTicketAllowed === 0) return false;
                    if (txtEBMaxTicketAllowed === 0) return false;
                    if (txtEBMaxTicketAllowed > 10) return false;

                    if ($("#txtEBMinTicketAllowed").val() !== ""
                        && $("#txtEBMaxTicketAllowed").val() !== "") {
                        if (txtEBMinTicketAllowed !== 0 && txtEBMaxTicketAllowed !== 0) {
                            if (txtEBMaxTicketAllowed <= txtEBMinTicketAllowed)
                                isValidationPassed = false;
                            else
                                isValidationPassed = true;
                        }
                    }
                }
                else return true;

                return isValidationPassed;
            },
            "EB maximum tickets allowed is required / EB maximum tickets allowed is 10 per member / EB maximum tickets allowed should be greater than EB minimum tickets"
        );
        $("#frmEvent").validate({
            rules: {
                txtEventName: {
                    required: true
                },
                txtEventType: {
                    required: true
                },
                txtEventLanguage: {
                    required: true
                },
                txtEventPlaytime: {
                    required: true
                },
                txtShowTime: {
                    required: true
                },
                txtProcessingFee: {
                    number: true
                },
                txtEventDate: {
                    required: true
                },
                txtStartDate: {
                    dateEBCheckStart: true
                },
                txtEndDate: {
                    dateEBCheckEnd: true
                },
                drpEarlyBirdTicketType: {
                    required: true
                },
                txtTotalTickets: {
                    required: true,
                    digits: true,
                    maxlength: 3,
                    //min: 1
                },
                txtPercentEBSeats: {
                    digits: true,
                    min: 0,
                    max:100,
                    percentEBCheck: true
                },
                txtTicketPrice: {
                    digits: true,
                    minlength: 1,
                    //min: 1,
                    checkTicketPrice:true
                },
                txtEBTicketPrice: {
                    digits: true,
                    minlength: 1,
                    checkEBTicketPrice: true
                },
                txtEBTickets: {
                    digits: true,
                    minlength: 1,
                    checkEBTickets: true
                },
                txtEBMinTicketAllowed: {
                    digits: true,
                    minlength: 1,
                    checkEBMinTickesAllowed: true
                },
                txtEBMaxTicketAllowed: {
                    digits: true,
                    maxlength: 2,
                    checkEBMaxTickesAllowed: true
                }
            },
            messages: {
                txtEventName: {
                    required: "Please enter event name"
                },
                txtEventType: {
                    required: "Please enter event type"
                },
                txtEventLanguage: {
                    required: "Please enter event language"
                },
                txtEventPlaytime: {
                    required: "Please enter event play time"
                },
                txtShowTime: {
                    required: "Please enter event start date"
                },
                txtProcessingFee: {
                    number: "Processing fee should be in digits"
                },
                drpEarlyBirdTicketType: {
                    required: "Please select early bird ticket type"
                },
                txtEventDate: {
                    required: "Please enter event date"
                },
                txtTotalTickets: {
                    required: "Total Tickets required",
                    digits: "Only numbers accepted",
                    minlength: "1 digits is required."
                },
                txtPercentEBSeats: {
                    required: "Total Early Birds Seats are required",
                    digits: "Only numbers accepted",
                    minlength: "2 digits are required."
                },
                txtTicketPrice: {
                    //required: "Ticket price is required",
                    digits: "Only number is accepted.",
                    minlength: "at1east 1 digit is required."
                },
                txtEBTicketPrice: {
                    //required: "Early Bird Ticket price is required",
                    digits: "Only number is accepted",
                    minlength: "at1east 1 digit is required."
                },
                txtEBTickets: {
                    digits: "Only number is accepted",
                    minlength: "at1east 1 digit is required."
                },
                txtEBMinTicketAllowed: {
                    //required: "Early Bird minimum tickets allowed",
                    digits: "Only numbers accepted",
                    minlength: "at1east 1 digit is required."
                },
                txtEBMaxTicketAllowed: {
                    //required: "Early Bird maximun tickets allowed",
                    digits: "Only numbers accepted",
                    minlength: "2 digits are required."
                }

            },
            errorPlacement: function (error, element) {
                if (element.attr("name") == "txtEventName")
                    error.appendTo($('#lblEventName'));

                if (element.attr("name") == "txtEventType")
                    error.appendTo($('#lblEventType'));

                if (element.attr("name") == "txtEventLanguage")
                    error.appendTo($('#lblEventLanguage'));

                if (element.attr("name") == "txtEventPlaytime")
                    error.appendTo($('#lblEventPlaytime'));

                if (element.attr("name") == "txtEventDate")
                    error.appendTo($('#lblEventDate'));

                if(element.attr("name") == "drpEarlyBirdTicketType")
                    error.appendTo($('#lblEarlyBirdTicketType'));
                if (element.attr("name") == "txtStartDate")
                    error.appendTo($('#lblStartDate'));
                if (element.attr("name") == "txtEndDate")
                    error.appendTo($('#lblEndDate'));

                if (element.attr("name") == "txtShowTime")
                    error.appendTo($('#lblShowTime'));

                if (element.attr("name") == "txtProcessingFee")
                    error.appendTo($('#lblProcessingFee'));

                if (element.attr("name") == "txtTotalTickets")
                    error.appendTo($('#lblTotalTickets'));
                if (element.attr("name") == "txtPercentEBSeats")
                    error.appendTo($('#lblPercentEBSeats'));
                if (element.attr("name") == "txtTicketPrice")
                    error.appendTo($('#lblTicketPrice'));
                if (element.attr("name") == "txtEBTicketPrice")
                    error.appendTo($('#lblEBTicketPrice'));
                if (element.attr("name") == "txtEBTickets")
                    error.appendTo($('#lbltxtEBTickets'));
                if (element.attr("name") == "txtEBMinTicketAllowed")
                    error.appendTo($('#lblEBMinTicketAllowed'));
                if (element.attr("name") == "txtEBMaxTicketAllowed")
                    error.appendTo($('#lblEBMaxTicketAllowed'));
                if (element.attr("name") == "drpEventRecStatus")
                    error.appendTo($('#lbldrpEventRecStatus'));

            }
        });

        $("#drpEventDurationType").change(function () {
            var type = $(this).val();

            if (type == "S") {
                $("#evt_start_date_1").hide();
                $("#evt_start_date_2").hide();
                $("#evt_start_date_3").hide();
                $("#evt_start_date_4").hide();

                $("#evt_end_date_1").hide();
                $("#evt_end_date_2").hide();
                $("#evt_end_date_3").hide();
                $("#evt_end_date_4").hide();

                $("#evt_date_1").show();
                $("#evt_date_2").show();
                $("#evt_date_3").show();
                $("#evt_date_4").show();
            }
            else if (type == "M") {
                $("#evt_date_1").hide();
                $("#evt_date_2").hide();
                $("#evt_date_3").hide();
                $("#evt_date_4").hide();

                $("#evt_start_date_1").show();
                $("#evt_start_date_2").show();
                $("#evt_start_date_3").show();
                $("#evt_start_date_4").show();

                $("#evt_end_date_1").show();
                $("#evt_end_date_2").show();
                $("#evt_end_date_3").show();
                $("#evt_end_date_4").show();
            }

        });

        $("#drpVenues").change(function () {
            var venueID = $(this).val();

            if (venueID != "") {
                GetLayout(venueID);
            }
            else {
                $("#drpLayout").html("");
                ToggleLayout("hide");
            }
        });

        $("#drpLayout").on("change", function () {
            var layoutID = $(this).val();

            if (layoutID != "") {
                GetBlocks(layoutID);
            }
            else {
                $("#drpLayout").html("");
                ToggleBlock("show");
            }
        });
    });

    $(document).ready(function () {
        $("#frmAddEvents").hide();
        $("#frmListEvents").show();

        $("#addEvent").on("click", function () {
            showAddEvent("addEvent");
        });
        $("#listEvent").on("click", function () {
            showAddEvent("listEvent");
        });
        $("#backToList").on("click", function () {
            showAddEvent("listEvent");
        });

    });
    function showAddEvent(value) {
        if (value == "addEvent") {
            $("#frmAddEvents").show();
            $("#frmListEvents").hide();
        }
        else if (value == "listEvent") {
            $("#frmAddEvents").hide();
            $("#frmListEvents").show();
        }
    }

    function GetEvent(id) {
        $("#modalLoader").modal('show');
        $.ajax({
            url: "/NewEvents/GetEvent",
            data: { eventID: id },
            type: "POST",
            success: function (response) {
                $("#modalLoader").modal('hide');

                $("#txtEventID").val(response.EventID);
                $("#txtEventName").val(response.EventName);
                $("#txtEventType").val(response.EventType);
                $("#txtEventLanguage").val(response.EventLanguage);
                $("#txtEventPlaytime").val(response.EventPlayTime);
                $("#txtEventDate").val(response.EventDate);
                $("#drpEarlyBirdTicketType").val(response.EarlyBirdTicketSelection);
                if (response.EarlyBirdTicketSelection == "DATEWISE") {
                    $("#txtStartDate").val(response.StartDate);
                    $("#txtEndDate").val(response.EndDate);
                }

                $("#txtTotalTickets").val(response.TotalTickets);
                $("#txtTicketPrice").val(response.TicketPrice);

                $("#txtPercentEBSeats").val(response.PercentEBSeats);

                $("#txtShowTime").val(response.ShowTime);
                $("#txtAgeGroup").val(response.AgeGroup);

                $("#txtProcessingFee").val(response.ProcessingFee);
                $("#txtLocationTracker").val(response.LocationTracker);

                setDrpBookingType(response.BookingType);
                $("#drpBookingType").val(response.BookingType);

                $("#drpEventRecStatus").val(response.Status);



                CKEDITOR.instances['txtEventDesc'].setData(response.EventDesc);
                CKEDITOR.instances['txtEventTNC'].setData(response.EventTNC);

                //if ($('#drpBookingType').val() == 'TICKETS') {
                //    $('#txtTotalTickets').prop('disabled', false);
                //    $('#txtTicketPrice').prop('disabled', false);
                //    $('#txtEBTicketPrice').prop('disabled', false);
                //}
                //else {
                //    $('#txtTotalTickets').prop('disabled', true);
                //    $('#txtTotalTickets').val(0);
                //    $('#txtTicketPrice').prop('disabled', true);
                //    $('#txtTicketPrice').val(0);
                //    $('#txtEBTicketPrice').prop('disabled', true);
                //    $('#txtEBTicketPrice').val(0);
                //}

                //if ($('#drpEarlyBirdTicketType').val() == 'DATEWISE') {
                //    $('#txtStartDate').prop('disabled', false);
                //    $('#txtEndDate').prop('disabled', false);
                //} else if ($('#drpEarlyBirdTicketType').val() == 'TICKETCOUNT') {
                //    $('#txtStartDate').prop('disabled', true);
                //    $('#txtEndDate').prop('disabled', true);
                //    $('#txtEBMinTicketAllowed').prop('disabled', false);
                //    $('#txtEBMaxTicketAllowed').prop('disabled', false);
                //    $('#txtEBTickets').prop('disabled', false);

                //    $('#txtStartDate').val("");
                //    $('#txtEndDate').val("");
                //    $('#txtEBMinTicketAllowed').val(1);
                //    $('#txtEBMaxTicketAllowed').val(10);
                //    $('#txtEBTickets').val(0);
                //} else {
                //    $('#txtStartDate').prop('disabled', true);
                //    $('#txtEndDate').prop('disabled', true);
                //    $('#txtEBTicketPrice').prop('disabled', true);
                //    $('#txtStartDate').val("");
                //    $('#txtEndDate').val("");
                //    $('#txtEBTicketPrice').val(0);

                //    $('#txtEBMinTicketAllowed').prop('disabled', true);
                //    $('#txtEBMaxTicketAllowed').prop('disabled', true);
                //    $('#txtEBTickets').prop('disabled', true);
                //    $('#txtEBMinTicketAllowed').val(0);
                //    $('#txtEBMaxTicketAllowed').val(0);
                //    $('#txtEBTickets').val(0);
                //}
                $("#drpEarlyBirdTicketType").val(response.EarlyBirdTicketSelection);
                setEarlyBirdTypeValues();


                $("#txtEBTickets").val(response.EBTickets);
                $("#txtEBTicketPrice").val(response.EBTicketPrice);

                $("#txtEBMinTicketAllowed").val(response.EBMinTicketOrder);
                $("#txtEBMaxTicketAllowed").val(response.EBMaxTicketOrder);
                showAddEvent("addEvent");
            },
            error: function () {
                $("#modalLoader").modal('hide');
            }
        });
    }


    function ManageEvent() {
        // debugger;
        if ($("#frmEvent").valid()) {
            $("#modalLoader").modal('show');
            $("#but_upload").hide();
            $("#but_loader").show();

            var data;
            data = new FormData();

            data.append('txtEventID', $("#txtEventID").val());
            data.append('txtEventName', $("#txtEventName").val());
            data.append('txtEventType', $("#txtEventType").val());
            data.append('txtEventLanguage', $("#txtEventLanguage").val());
            data.append('txtEventPlaytime', $("#txtEventPlaytime").val());
            data.append('txtEventDate', $("#txtEventDate").val());
            data.append('drpEventRecStatus', $("#drpEventRecStatus").val());

            data.append('drpEarlyBirdTicketType', $("#drpEarlyBirdTicketType").val());

            data.append('txtStartDate', ($("#txtStartDate").val() == undefined) ? "" : $("#txtStartDate").val());
            data.append('txtEndDate', ($("#txtEndDate").val() == undefined) ? "" : $("#txtEndDate").val());

            data.append('txtTotalTickets', ($("#txtTotalTickets").val() == undefined) ? "" : $("#txtTotalTickets").val());
            data.append('txtPercentEBSeats', ($("#txtPercentEBSeats").val() == undefined) ? "" : $("#txtPercentEBSeats").val());

            data.append('txtTicketPrice', ($("#txtTicketPrice").val() == undefined) ? "" : $("#txtTicketPrice").val());
            data.append('txtEBTicketPrice', ($("#txtEBTicketPrice").val() == undefined) ? "" : $("#txtEBTicketPrice").val());
            data.append('txtEBTickets', ($("#txtEBTickets").val() == undefined) ? "" : $("#txtEBTickets").val());

            data.append('txtEBMinTicketAllowed', ($("#txtEBMinTicketAllowed").val() == undefined) ? "" : $("#txtEBMinTicketAllowed").val());
            data.append('txtEBMaxTicketAllowed', ($("#txtEBMaxTicketAllowed").val() == undefined) ? "" : $("#txtEBMaxTicketAllowed").val());

            data.append('txtShowTime', $("#txtShowTime").val());
            data.append('txtLocationTracker', $("#txtLocationTracker").val());
            data.append('drpBookingType', $("#drpBookingType").val());
            data.append('txtAgeGroup', $("#txtAgeGroup").val());
            data.append('txtProcessingFee', $("#txtProcessingFee").val());

            if ($('#txtHomeBannerImage')[0].files[0] != null && $('#txtHomeBannerImage')[0].files[0] != undefined)
                data.append('txtHomeBannerImage', $('#txtHomeBannerImage')[0].files[0]);

            if ($('#txtMainBannerImage')[0].files[0] != null && $('#txtMainBannerImage')[0].files[0] != undefined)
                data.append('txtMainBannerImage', $('#txtMainBannerImage')[0].files[0]);

            if ($('#txtEventBannerImage')[0].files[0] != null && $('#txtEventBannerImage')[0].files[0] != undefined)
                data.append('txtEventBannerImage', $('#txtEventBannerImage')[0].files[0]);

            data.append('txtEventDesc', CKEDITOR.instances.txtEventDesc.getData());
            data.append('txtEventTNC', CKEDITOR.instances.txtEventTNC.getData());

            $.ajax({
                url: '/NewEvents/ManageEvents',
                data: data,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#modalLoader").modal('hide');
                    if (response == "i") {
                        alert("Event created successfully.");
                        location.reload();
                    }
                    else if (response == "u") {
                        alert("Event updated successfully.");

                        $("#but_loader").hide();
                        $("#but_upload").show();

                        location.reload();
                    }
                    else {
                        alert("Oops! Something went wrong. Please try again after sometime.");

                        $("#but_loader").hide();
                        $("#but_upload").show();
                    }
                }
            });
        }
        else {
            return false;
        }
    }

    function GetBlocks(layoutID) {
        $.ajax({
            url: "/Events/GetBlocks",
            data: { layoutID: layoutID },
            type: "POST",
            success: function (response) {
                $("#tblBlocks").html(response);
                ToggleBlock("show");
            }
        });
    }

    function GetLayout(venueID) {
        $.ajax({
            url: "/Events/GetLayout",
            data: { venueID: venueID },
            type: "POST",
            success: function (response) {

                var str = '<option>--Select Layout--</option>';;

                $.each(response, function (i, k) {
                    str += '<option value="' + k.layoutID + '">' + k.layout_name + '</option>';
                });

                $("#drpLayout").html(str);

                ToggleLayout("show");
            }
        });
    }

    function ToggleLayout(action) {
        if (action == "hide") {
            $("#layout_div_1").hide();
            $("#layout_div_2").hide();
            $("#layout_div_3").hide();
            $("#layout_div_4").hide();
        }
        else if (action == "show") {
            $("#layout_div_1").show();
            $("#layout_div_2").show();
            $("#layout_div_3").show();
            $("#layout_div_4").show();
        }
    }

    function ToggleBlock(action) {
        if (action == "hide") {
            $("#block_div_1").hide();
            $("#block_div_2").hide();
            $("#block_div_3").hide();
        }
        else if (action == "show") {
            $("#block_div_1").show();
            $("#block_div_2").show();
            $("#block_div_3").show();
        }
    }

    function DeleteUnorderedSeats(id) {
        var userConfirmation = confirm("Do you want to remove these seats?");

        if (userConfirmation) {
            $.ajax({
                url: "/Events/DeleteUnorderedSeats",
                data: { id: id },
                type: "GET",
                success: function (response) {
                    if (response == "OK") {
                        alert("Seats deleted successfully.");
                        location.reload();
                    }
                    else {
                        alert("Sorry! Something went wrong. Please try again after sometime.");
                    }
                }

            });
        }
    }

        $('#drpBookingType').on('change', function (e) {
            if ($('#drpBookingType').val() == 'TICKETS') {
                $('#txtTotalTickets').prop('disabled', false);
                $('#txtTicketPrice').prop('disabled', false);
                $('#txtEBTicketPrice').prop('disabled', false);
                $('#drpEarlyBirdTicketType').val(-1);
            }
            else {
                $('#txtTotalTickets').prop('disabled', true);
                $('#txtTotalTickets').val(0);
                $('#txtTicketPrice').prop('disabled', true);
                $('#txtTicketPrice').val(0);
                $('#txtEBTicketPrice').prop('disabled', true);
                $('#txtEBTicketPrice').val(0);
               // $('#txtEBTickets').prop('disabled', true);
                //$('#txtEBTickets').val(0);
            }
        });

    var select = $("<option id='1' value='-1'>--Select early bird type--</option>");
    var discountTillSpecificDate = $("<option id='2' value='DATEWISE'>Discount till specific date</option>");
    var discountOnTotalTicketCount = $("<option id='3' value='TICKETCOUNT'>Discount on total count of tickets</option>");
    var none = $("<option id='4' value='NONE' selected>None</option>");

    function setDrpEarlyBirdTicketType(arr) {
        $("#drpEarlyBirdTicketType").empty();
        arr.forEach((x) => {
            $("#drpEarlyBirdTicketType").append(x);
        });
    }
    function setDrpBookingType(bookingType) {
        var arrDrpEarlyBirdTicketType = [];
        if (bookingType == "TICKETS") {
            arrDrpEarlyBirdTicketType.push(select);
            arrDrpEarlyBirdTicketType.push(discountTillSpecificDate);
            arrDrpEarlyBirdTicketType.push(discountOnTotalTicketCount);
            arrDrpEarlyBirdTicketType.push(none);
        } else {
            arrDrpEarlyBirdTicketType.push(select);
            arrDrpEarlyBirdTicketType.push(discountTillSpecificDate);
            arrDrpEarlyBirdTicketType.push(none);
        }
        setDrpEarlyBirdTicketType(arrDrpEarlyBirdTicketType);
    }

    $("#drpBookingType").on("change", function () {
        if ($("#drpBookingType").val() != "") {
            setDrpBookingType($("#drpBookingType").val());
            setEarlyBirdTypeValues();
        }
    });



    $('#drpEarlyBirdTicketType').on('change', function (e) {
        setEarlyBirdTypeValues();
        });


    function setEarlyBirdTypeValues() {
        if ($('#drpBookingType').val() == 'TICKETS'
            && $('#drpEarlyBirdTicketType').val() == 'TICKETCOUNT') {
            $('#txtStartDate').prop('disabled', true);
            $('#txtEndDate').prop('disabled', true);

            $('#txtEBMinTicketAllowed').prop('disabled', false);
            $('#txtEBMaxTicketAllowed').prop('disabled', false);
            $('#txtEBTickets').prop('disabled', false);
            $('#txtEBTicketPrice').prop('disabled', false);

            $('#txtEBMinTicketAllowed').val(1);
            $('#txtEBMaxTicketAllowed').val(10);
        }
        else {
            if ($('#drpEarlyBirdTicketType').val() == 'DATEWISE') {
                $('#txtStartDate').prop('disabled', false);
                $('#txtEndDate').prop('disabled', false);

                $('#txtEBMinTicketAllowed').prop('disabled', false);
                $('#txtEBMaxTicketAllowed').prop('disabled', false);
                $('#txtEBTickets').prop('disabled', true);
                $('#txtEBTicketPrice').prop('disabled', true);

                $('#txtEBTickets').val(0);
                $('#txtEBTicketPrice').val(0);
                $('#txtEBMinTicketAllowed').val(1);
                $('#txtEBMaxTicketAllowed').val(10);
            }
            else if ($('#drpEarlyBirdTicketType').val() == 'TICKETCOUNT') {

                $('#txtStartDate').prop('disabled', true);
                $('#txtEndDate').prop('disabled', true);
                $('#txtEBMinTicketAllowed').prop('disabled', false);
                $('#txtEBMaxTicketAllowed').prop('disabled', false);
                $('#txtEBTickets').prop('disabled', false);
                $('#txtEBTicketPrice').prop('disabled', false);

                $('#txtStartDate').val("");
                $('#txtEndDate').val("");
                $('#txtEBMinTicketAllowed').val(1);
                $('#txtEBMaxTicketAllowed').val(10);
                //$('#txtEBTickets').val(0);
            }
            else if ($('#drpEarlyBirdTicketType').val() == 'NONE') {
                $('#txtStartDate').prop('disabled', true);
                $('#txtEndDate').prop('disabled', true);
                $('#txtEBMinTicketAllowed').prop('disabled', true);
                $('#txtEBMaxTicketAllowed').prop('disabled', true);
                $('#txtEBTicketPrice').prop('disabled', true);
                $('#txtEBTickets').prop('disabled', true);

                $('#txtStartDate').val("");
                $('#txtEndDate').val("");
                $('#txtEBMinTicketAllowed').val(0);
                $('#txtEBMaxTicketAllowed').val(0);
                $('#txtEBTickets').val(0);
                $('#txtEBTicketPrice').val(0);
            }
            // else {
            //    $('#txtStartDate').prop('disabled', true);
            //    $('#txtEndDate').prop('disabled', true);
            //    $('#txtStartDate').val("");
            //    $('#txtEndDate').val("");
            //}
        }

    }
    //$(function () {
    //    if ($('#drpBookingType').val() == 'TICKETS') {
    //        $('#txtTotalTickets').prop('disabled', false);
    //    }
    //    else {
    //        $('#txtTotalTickets').prop('disabled', true);
    //        $('#txtTotalTickets').val(0);
    //    }

    //    if ($('#drpEarlyBirdTicketType').val() == 'DATEWISE') {
    //        $('#txtStartDate').prop('disabled', false);
    //        $('#txtEndDate').prop('disabled', false);
    //    }
    //    else {
    //        $('#txtStartDate').prop('disabled', true);
    //        $('#txtEndDate').prop('disabled', true);
    //        $('#txtStartDate').val("");
    //        $('#txtEndDate').val("");
    //    }
    //});

    function searchEventsByPagenum(eventId, pageNum, rows) {

    }
</script>
